{
  "presets": ["@babel/preset-typescript"],
  "ignore": ["**/*.test.js", "**/*.test.jsx", "**/*.test.ts", "**/*.test.tsx"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/config": "./tanatloc-ssr/config",
          "@/models": "./tanatloc-ssr/models",
          "@/templates": "./tanatloc-ssr/templates",
          "@/plugins": "./tanatloc-ssr/plugins",
          "@/api": "./tanatloc-ssr/src/api",
          "@/auth": "./tanatloc-ssr/src/auth",
          "@/components": "./tanatloc-ssr/src/components",
          "@/database": "./tanatloc-ssr/src/database",
          "@/lib": "./tanatloc-ssr/src/lib",
          "@/pages": "./tanatloc-ssr/src/pages",
          "@/route": "./tanatloc-ssr/src/route",
          "@/services": "./tanatloc-ssr/src/services",
          "@/store": "./tanatloc-ssr/src/store",
          "@/styles": "./tanatloc-ssr/src/styles"
        }
      }
    ]
  ]
}
