{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    },
    "target": "es2016",
    "baseUrl": ".",
    "paths": {
      "@/auth/*": ["../auth/*"],
      "@/config/*": ["../config/*", "../../config/*", "../../../config/*"],
      "@/database": ["../src/database"],
      "@/database/*": ["../../database/*"],
      "@/lib/*": ["../lib/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
