{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/config": "./tanatloc/config",
          "@/models": "./tanatloc/models",
          "@/templates": "./tanatloc/templates",
          "@/plugins": "./tanatloc/plugins",
          "@/api": "./tanatloc/src/api",
          "@/auth": "./tanatloc/src/auth",
          "@/components": "./tanatloc/src/components",
          "@/database": "./tanatloc/src/database",
          "@/lib": "./tanatloc/src/lib",
          "@/pages": "./tanatloc/src/pages",
          "@/route": "./tanatloc/src/route",
          "@/server": "./tanatloc/src/server",
          "@/services": "./tanatloc/src/services",
          "@/store": "./tanatloc/src/store",
          "@/styles": "./tanatloc/src/styles"
        }
      }
    ]
  ]
}
